<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.wares.mapper.ClothingwaresMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.wares.beans.Clothingwares">
        <id column="clothing_id" property="clothingId" />
        <result column="clothing_name" property="clothingName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        clothing_id, clothing_name
    </sql>

</mapper>
