<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.wares.mapper.HotwaresMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.wares.beans.Hotwares">
        <id column="hot_id" property="hotId" />
        <result column="hot_name" property="hotName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hot_id, hot_name
    </sql>

</mapper>
