<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.wares.mapper.WaresMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.wares.beans.Wares">
        <id column="wares_id" property="waresId" />
        <result column="wares_name" property="waresName" />
        <result column="wares_price" property="waresPrice" />
        <result column="wares_des" property="waresDes" />
        <result column="wares_hot_id" property="waresHotId" />
        <result column="wares_of_man" property="waresOfMan" />
        <result column="wares_img" property="waresImg" />
        <result column="wares_clothing_id" property="waresClothingId" />
        <result column="wares_seaso" property="waresSeaso" />
        <result column="creat_time" property="creatTime" />
        <result column="wares_del" property="waresDel" />
    </resultMap>
    <resultMap id="BaseResultMap_WhitOther" type="ink.tsg.wares.beans.Wares">
        <id column="wares_id" property="waresId" />
        <result column="wares_name" property="waresName" />
        <result column="wares_price" property="waresPrice" />
        <result column="wares_des" property="waresDes" />
        <result column="wares_hot_id" property="waresHotId" />
        <result column="wares_of_man" property="waresOfMan" />
        <result column="wares_img" property="waresImg" />
        <result column="wares_clothing_id" property="waresClothingId" />
        <result column="wares_seaso" property="waresSeaso" />
        <result column="creat_time" property="creatTime" />
        <result column="wares_del" property="waresDel" />
        <association property="hotwares" javaType="ink.tsg.wares.beans.Hotwares">
        	<id column="hot_id" property="hotId"/>
        	<result column="hot_name" property="hotName"/>
        </association>
        <association property="clothingwares" javaType="ink.tsg.wares.beans.Clothingwares">
        	<id column="clothing_id" property="clothingId"/>
        	<result column="clothing_name" property="clothingName"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wares_id, wares_name, wares_price, wares_des, wares_hot_id, wares_of_man, wares_img, wares_clothing_id, wares_seaso, creat_time, wares_del
    </sql>
    <sql id="Base_Column_List_WhitOther">
        w.wares_id, w.wares_name, w.wares_price, w.wares_des, w.wares_of_man, w.wares_img, w.wares_seaso,w.creat_time, w.wares_del,
    	w.wares_clothing_id,w.wares_hot_id,h.hot_name,c.clothing_name
    </sql>
	
	<select id="selectMapsPageWithOther" resultMap="BaseResultMap_WhitOther">
			select 
		<include refid="Base_Column_List_WhitOther"/>
			from tb_wares w 
			left join tb_hotwares h on w.wares_hot_id=h.hot_id
			left join tb_clothingwares c on w.wares_clothing_id=c.clothing_id
			<where>
				${ew.sqlSegment}
			</where>
			ORDER BY wares_id DESC
	</select>
	
	
</mapper>
