<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.shopcar.mapper.WaresShopcarMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.shopcar.beans.WaresShopcar">
        <id column="shop_car_id" property="shopCarId" />
        <result column="cust_id" property="custId" />
        <result column="wares_id" property="waresId" />
        <result column="wares_name" property="waresName" />
        <result column="wares_size" property="waresSize" />
        <result column="wares_price" property="waresPrice" />
        <result column="wares_num" property="waresNum" />
        <result column="wares_total" property="waresTotal" />
        <result column="car_state" property="carState" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_car_id, cust_id, wares_id, wares_name, wares_size, wares_price, wares_num, wares_total, car_state, create_time
    </sql>

</mapper>
