<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.tsg.shopcar.mapper.WaressShopcarMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ink.tsg.shopcar.beans.WaressShopcar">
        <id column="shop_car" property="shopCar" />
        <result column="cust_id" property="custId" />
        <result column="wares_id" property="waresId" />
        <result column="wares_num" property="waresNum" />
        <result column="car_state" property="carState" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_car, cust_id, wares_id, wares_num, car_state, create_time
    </sql>

</mapper>
